langchain==0.1.7
groq==0.4.0
openai
python-dotenv==1.0.1
pytesseract
pymupdf
pytube
pinecone-client==3.0.0
langchain-pinecone
langchain-community==0.0.18
langchain-openai==0.0.5
langchain-groq
beautifulsoup4
httpx==0.26.0
tldextract
numpy
pillow==10.2.0
youtube-transcript-api
yt-dlp
langchain-text-splitters
html2text
langchain-core
urllib3
aiohttp
asyncio
unstructured
pdf2image
ocrmypdf
langchain_experimental
tiktoken
certifi
requests
fastapi==0.109.2
uvicorn==0.27.1
pyOpenSSL
python-multipart==0.0.9
langfuse==1.14.1
pypdf==4.0.0
aiosqlite==0.19.0
SQLAlchemy==2.0.27
newsapi-python==0.2.7
newsapi